/.vs/VoskConsoleApp/DesignTimeBuild/.dtbcache.v2
/.vs/VoskConsoleApp/v17/.futdcache.v2
/VoskConsoleApp/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/.vs/VoskConsoleApp/v17/.suo
/.vs/VoskConsoleApp/FileContentIndex/676346d6-2c2f-429f-af5f-9683a526b29a.vsidx
/VoskConsoleApp/model/graph/phones/align_lexicon.int
/VoskConsoleApp/model/rescore/phones/align_lexicon.int
/VoskConsoleApp/model/graph/phones/align_lexicon.txt
/VoskConsoleApp/model/rescore/phones/align_lexicon.txt
/VoskConsoleApp/obj/Debug/net9.0/apphost.exe
/VoskConsoleApp/model/rescore/phones/context_indep.csl
/VoskConsoleApp/model/rescore/phones/context_indep.int
/VoskConsoleApp/model/rescore/phones/context_indep.txt
/VoskConsoleApp/model/decode.sh
/VoskConsoleApp/model/decoder-test.scp
/VoskConsoleApp/model/decoder-test.utt2spk
/VoskConsoleApp/model/decoder-test.wav
/VoskConsoleApp/model/extra/scripts/dict_prep.sh
/VoskConsoleApp/model/extra/scripts/dictionary.py
/VoskConsoleApp/model/rescore/phones/disambig.csl
/VoskConsoleApp/model/graph/phones/disambig.int
/VoskConsoleApp/model/rescore/phones/disambig.int
/VoskConsoleApp/model/graph/phones/disambig.txt
/VoskConsoleApp/model/rescore/phones/disambig.txt
/VoskConsoleApp/model/graph/disambig_tid.int
/.vs/VoskConsoleApp/v17/DocumentLayout.json
/VoskConsoleApp/model/rescore/phones/extra_questions.int
/VoskConsoleApp/model/rescore/phones/extra_questions.txt
/VoskConsoleApp/model/rnnlm/feat_embedding.final.mat
/VoskConsoleApp/model/rnnlm/features.txt
/VoskConsoleApp/model/ivector/final.dubm
/VoskConsoleApp/model/ivector/final.ie
/VoskConsoleApp/model/ivector/final.mat
/VoskConsoleApp/model/am/final.mdl
/VoskConsoleApp/model/rnnlm/final.raw
/VoskConsoleApp/model/am/frame_subsampling_factor
/VoskConsoleApp/model/rescore/G.carpa
/VoskConsoleApp/model/rescore/G.fst
/VoskConsoleApp/model/ivector/global_cmvn.stats
/VoskConsoleApp/model/graph/HCLG.fst
/VoskConsoleApp/model/rnnlm/info.txt
/VoskConsoleApp/model/conf/ivector_extractor.conf
/VoskConsoleApp/bin/Debug/net9.0/libgcc_s_seh-1.dll
/VoskConsoleApp/bin/Debug/net9.0/libstdc++-6.dll
/VoskConsoleApp/bin/Debug/net9.0/libvosk.dll
/VoskConsoleApp/bin/Debug/net9.0/libwinpthread-1.dll
/VoskConsoleApp/model/extra/openstt-ref/calls/wer_details/lmwt
/VoskConsoleApp/model/extra/openstt-ref/youtube/wer_details/lmwt
/VoskConsoleApp/model/conf/mfcc.conf
/VoskConsoleApp/model/conf/model.conf
/VoskConsoleApp/bin/Debug/net9.0/NAudio.Asio.dll
/VoskConsoleApp/bin/Debug/net9.0/NAudio.Core.dll
/VoskConsoleApp/bin/Debug/net9.0/NAudio.dll
/VoskConsoleApp/bin/Debug/net9.0/NAudio.Midi.dll
/VoskConsoleApp/bin/Debug/net9.0/NAudio.Wasapi.dll
/VoskConsoleApp/bin/Debug/net9.0/NAudio.WinMM.dll
/VoskConsoleApp/model/rescore/phones/nonsilence.csl
/VoskConsoleApp/model/rescore/phones/nonsilence.int
/VoskConsoleApp/model/rescore/phones/nonsilence.txt
/VoskConsoleApp/model/graph/num_pdfs
/VoskConsoleApp/model/conf/online.conf
/VoskConsoleApp/model/ivector/online_cmvn.conf
/VoskConsoleApp/model/rescore/oov.txt
/VoskConsoleApp/model/rnnlm/oov.txt
/VoskConsoleApp/model/extra/openstt-ref/calls/wer_details/ops
/VoskConsoleApp/model/extra/openstt-ref/youtube/wer_details/ops
/VoskConsoleApp/model/graph/phones/optional_silence.csl
/VoskConsoleApp/model/rescore/phones/optional_silence.csl
/VoskConsoleApp/model/graph/phones/optional_silence.int
/VoskConsoleApp/model/rescore/phones/optional_silence.int
/VoskConsoleApp/model/graph/phones/optional_silence.txt
/VoskConsoleApp/model/rescore/phones/optional_silence.txt
/VoskConsoleApp/model/extra/openstt-ref/calls/wer_details/per_spk
/VoskConsoleApp/model/extra/openstt-ref/youtube/wer_details/per_spk
/VoskConsoleApp/model/extra/openstt-ref/calls/wer_details/per_utt
/VoskConsoleApp/model/extra/openstt-ref/youtube/wer_details/per_utt
/VoskConsoleApp/model/graph/phones.txt
/VoskConsoleApp/model/rescore/phones.txt
/VoskConsoleApp/obj/project.assets.json
/VoskConsoleApp/obj/project.nuget.cache
/VoskConsoleApp/obj/project.packagespec.json
/VoskConsoleApp/obj/rider.project.model.nuget.info
/VoskConsoleApp/obj/rider.project.restore.info
/VoskConsoleApp/model/rescore/phones/roots.int
/VoskConsoleApp/model/rescore/phones/roots.txt
/VoskConsoleApp/model/extra/db/ru.dic
/VoskConsoleApp/model/extra/db/ru.lm.gz
/VoskConsoleApp/model/extra/db/ru-small.lm.gz
/VoskConsoleApp/model/rescore/phones/sets.int
/VoskConsoleApp/model/rescore/phones/sets.txt
/VoskConsoleApp/model/graph/phones/silence.csl
/VoskConsoleApp/model/rescore/phones/silence.csl
/VoskConsoleApp/model/rescore/phones/silence.int
/VoskConsoleApp/model/rescore/phones/silence.txt
/VoskConsoleApp/model/rnnlm/special_symbol_opts.conf
/VoskConsoleApp/model/ivector/splice.conf
/VoskConsoleApp/bin/Debug/net9.0/temp.wav
/VoskConsoleApp/model/extra/openstt-ref/calls/text
/VoskConsoleApp/model/extra/openstt-ref/youtube/text
/VoskConsoleApp/model/am/tree
/VoskConsoleApp/bin/Debug/net9.0/Vosk.dll
/VoskConsoleApp/obj/Debug/net9.0/VoskCons.185290B1.Up2Date
/VoskConsoleApp/obj/Debug/net9.0/VoskConsoleApp.AssemblyInfo.cs
/VoskConsoleApp/obj/Debug/net9.0/VoskConsoleApp.AssemblyInfoInputs.cache
/VoskConsoleApp/obj/Debug/net9.0/VoskConsoleApp.assets.cache
/VoskConsoleApp/obj/Debug/net9.0/VoskConsoleApp.csproj.AssemblyReference.cache
/VoskConsoleApp/obj/Debug/net9.0/VoskConsoleApp.csproj.CoreCompileInputs.cache
/VoskConsoleApp/obj/Debug/net9.0/VoskConsoleApp.csproj.FileListAbsolute.txt
/VoskConsoleApp/obj/VoskConsoleApp.csproj.nuget.dgspec.json
/VoskConsoleApp/obj/VoskConsoleApp.csproj.nuget.g.props
/VoskConsoleApp/obj/VoskConsoleApp.csproj.nuget.g.targets
/VoskConsoleApp/bin/Debug/net9.0/VoskConsoleApp.deps.json
/VoskConsoleApp/bin/Debug/net9.0/VoskConsoleApp.dll
/VoskConsoleApp/obj/Debug/net9.0/ref/VoskConsoleApp.dll
/VoskConsoleApp/obj/Debug/net9.0/refint/VoskConsoleApp.dll
/VoskConsoleApp/obj/Debug/net9.0/VoskConsoleApp.dll
/VoskConsoleApp/bin/Debug/net9.0/VoskConsoleApp.exe
/VoskConsoleApp/obj/Debug/net9.0/VoskConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
/VoskConsoleApp/obj/Debug/net9.0/VoskConsoleApp.genruntimeconfig.cache
/VoskConsoleApp/obj/Debug/net9.0/VoskConsoleApp.GlobalUsings.g.cs
/.vs/ProjectEvaluation/voskconsoleapp.metadata.v9.bin
/VoskConsoleApp/bin/Debug/net9.0/VoskConsoleApp.pdb
/VoskConsoleApp/obj/Debug/net9.0/VoskConsoleApp.pdb
/.vs/ProjectEvaluation/voskconsoleapp.projects.v9.bin
/VoskConsoleApp/bin/Debug/net9.0/VoskConsoleApp.runtimeconfig.json
/VoskConsoleApp.sln.DotSettings.user
/.vs/ProjectEvaluation/voskconsoleapp.strings.v9.bin
/VoskConsoleApp/model/rescore/phones/wdisambig.txt
/VoskConsoleApp/model/rescore/phones/wdisambig_phones.int
/VoskConsoleApp/model/rescore/phones/wdisambig_words.int
/VoskConsoleApp/model/extra/openstt-ref/calls/wer_details/wer_bootci
/VoskConsoleApp/model/extra/openstt-ref/youtube/wer_details/wer_bootci
/VoskConsoleApp/model/extra/openstt-ref/calls/wer_details/wip
/VoskConsoleApp/model/extra/openstt-ref/youtube/wer_details/wip
/VoskConsoleApp/model/graph/phones/word_boundary.int
/VoskConsoleApp/model/rescore/phones/word_boundary.int
/VoskConsoleApp/model/graph/phones/word_boundary.txt
/VoskConsoleApp/model/rescore/phones/word_boundary.txt
/VoskConsoleApp/model/rnnlm/word_feats.txt
/VoskConsoleApp/model/graph/words.txt
/VoskConsoleApp/model/rescore/words.txt
